@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bg-black: #121117;
$elf-green: #078282;
$cloudy: #a5a09d;
$blue-lagoon:#048383;
$black-haze:#e8ecea;
$sea-nymph:#729fa1a1;
$elm:#22918e;
$smalt-blue:#50828c;