@import '~@fortawesome/fontawesome-free/css/all.min.css';
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$bg-black: #121117;
$elf-green: #078282;
$cloudy: #a5a09d;
$blue-lagoon:#048383;
$black-haze:#e8ecea;
$sea-nymph:#729fa1a1;
$elm:#22918e;
$smalt-blue:#50828c;